.header{
    background: orange;
    padding: 10px;
    font-size: larger;
    font-family: 'Segoe UI';
    font-weight: 700
}
.layout{
    position: relative;
}

.layout div{
    position: absolute;
    text-align: justify;
}

.layout p{
    margin: 10px;    
    font-size: normal;
    font-family: 'Segoe UI';
}

.col1{
    background: palegoldenrod;
    width: 33%;
}

.col2{
    background: palegreen;
    width: 34%;
    left: 33%;
}

.col3{
    background: paleturquoise;
    width: 33%;
    right: 0;
}